<div class="fixed top-5 right-5 z-50">
  <% flash.each do |type, message| %>
    <% next if type.to_s == 'notice' %>
    <% case type %>
    <% when 'alert' %>
      <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
        <p><%= message %></p>
      </div>
    <% else %>
      <div class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4" role="alert">
        <p class="font-bold"><%= type.to_s.capitalize %></p>
        <p><%= message %></p>
      </div>
    <% end %>
  <% end %>

  <%# This is for the Turbo Stream alert from the license redemption %>
  <% if defined?(alert) && alert.present? %>
    <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
      <p><%= alert %></p>
    </div>
  <% end %>
</div> 