<% content_for :error_page do %>
  <div style="text-align: center; margin-top: 50px;">
    <h1>500 - Internal Server Error</h1>
    <p>Something went wrong on our end. Please try again later.</p>
    <%= link_to "Go Home", root_path %>
  </div>
<% end %> 